*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas{
  margin: 0;
  outline: 1px solid red;
}
.box{
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
}
select{
  width: 6rem;
  padding: 0.25rem;
}
input{
  padding: 0.25rem 1rem;
  margin-left: 1rem;
}
label{
  margin-left: 1rem;
}
